<div id="hero">
  <%- include('partials/header') %>

  <section id="about">
    <div>
      <h1>Votre spécialiste Haucloquois du café</h1>
      <p>
        oCoffee est un détaillant de café et de produits associés à la
        consommation du café basé dans la ville de Hauts-de-Cloques. Nous
        importons nos produits directement des producteurs, et nous les
        sélectionnons selon des critères exigeants de qualité. oCoffee est
        reconnu à l’échelle départementale.
      </p>
      <a class="button" href="/catalog">Découvrir notre catalogue</a>
    </div>
  </section>
</div>

<main>
  <section id="latest-products">
    <h2>Nos dernières nouveautés</h2>

    <ul>
      <% if (locals.threeCoffees && Array.isArray(locals.threeCoffees) &&
      locals.threeCoffees.length > 0) { %> <% for (const coffee of threeCoffees)
      { %>
      <li>
        <article>
          <img
            src="/images/coffees/<%= coffee.reference %>.png"
            alt="<%= coffee.name %>"
          />
          <div>
            <h3><%= coffee.name %></h3>
            <a class="button-outline" href="/coffee/<%= coffee.id %>"
              >Voir le détail</a
            >
          </div>
        </article>
      </li>
      <% } %> <% } else { %>
      <li>Pas de café disponible</li>
      <% } %>
    </ul>
  </section>

  <section id="about-us">
    <div id="bloc-1">
      <h2>Qui sommes-nous ?</h2>
      <p>
        Jean et Jacques Pepper, deux frères passionnés par le café, sont les
        fondateurs de notre boutique. Avec une expertise approfondie et un amour
        profond pour cette délicieuse boisson, ils ont créé un espace où le café
        est célébré comme une expérience raffinée et inspirante.
      </p>
      <div id="aboutus-img">
        <img
          src="/images/coffees/aboutus1.jpg"
          alt="personne tenant des étagères à café grises"
        />
        <img src="/images/coffees/aboutus2.jpg" alt="" />
        <img
          src="/images/coffees/aboutus3.jpg"
          alt="homme versant de l'eau sur une carafe à café"
        />
      </div>
    </div>
    <a class="button" href="/boutique">En apprendre plus sur nous</a>
  </section>
</main>

<%- include('partials/footer') %>
